@media only screen and (max-width: 768px) {
    .header {
        .row {
            max-width: 100%;
            margin: 0;
        }

        .dropdown__content {
            top: 81px;
            left: -23px;
            width: 130px;
        }

        .yellow-icon {
            font-size: 15px;
            height: 50px;
            width: 50px;
            margin: 20px;
        }

        .bm-burger-button {
            font-size: 15px;
            height: 50px;
            width: 50px;
            top: 20px;
            left: 10px;
        }
        .mobile-title {
            color: $blue;
            font-family: $Roboto;
            font-size: 40px;
            text-align: right;
            position: relative;
            top: 10px;
        }
    }

    .content {
        padding: 20px;
        &.search-container {
            padding: 0;
            .job-search-form {
                padding: 0 20px 0;
                p {
                    font-size: 12px;
                    text-align: center;
                }
                .main-text {
                    display: inherit;
                    text-align: left;
                    font-size: 50px;
                }
                .search-field {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    &#keyword {
                        width: 100%;
                    }
                    &#location {
                        width: 100%;
                    }
                    &#job_type {
                        width: 100%;
                    }
                }
                .submit-button {
                    margin: 20px;
                }
            }

            .search-results {
                .job-post {
                    font-size: 20px;
                    .job-heading {
                        padding: 15px 5px 15px;
                    }
                    .job-description {
                        p {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: normal;
                            padding: 20px;
                        }
                        p.small {
                            padding-top: 0;
                        }
                    }
                }
            }
        }

        &.signup {
            .input-field {
                height: 60px;
                border-radius: 50px;
            }
            .btn-container {
                display: flex;
                justify-content: center;
                .btn {
                    width: 85%;
                    margin: 10px;
                }
            }
        }

        &.about {
            padding-top: 50px;

            .container {
                .row {
                }
                .selected-container {
                    display: none;
                }
                .tab-list {
                    padding: 30px 0 100px;
                    .tab {
                        font-size: 35px;
                        span {
                        }
                    }
                    .tab-content {
                        display: block;
                    }
                }

                hr {
                    width: 100%;
                }

                .bottom-link {
                    width: 100%;
                    padding: 5px;
                }

                #selected {
                    display: none;
                }
            }
        }

        &.profile {
            hr {
                &.half-width {
                    width: 100%;
                }
            }
            .availability {
                font-size: 40px;
            }
            .social-links {
                width: 100%;
            }
            .location {
                font-size: 12px;
            }
            .react-tabs__tab-list {
                padding: 0;

                .react-tabs__tab {
                    display: block;
                }
            }
            .skill {
                display: inline-block;
            }
            .react-tabs__tab-list {
                justify-content: space-between;

                .react-tabs__tab {
                    padding: 10px 0;
                    font-size: 12px;
                    text-align: center;
                }
            }
        }
    }

    .newsletter-container {
        padding: 80px 20px;
        h2.center-align {
            font-size: 45px;
            font-weight: 800;
        }
        .input-container {
            flex-direction: column;
            align-items: center;
            .input-field {
                border-radius: 50px;
                height: 70px;
                width: 90%;
            }
        }
        .btn-container {
            display: flex;
            justify-content: center;
            margin: 0;
            width: 100%;
            .btn {
                border-radius: 50px;
                display: block;
                height: 70px;
                width: 90%;
            }
        }
    }
}
